<style>
	#color_me_in {
		background-color: <%= @color %>;
		display: flex;
		flex-direction: column;
		color: white;
		width: 250px;
		height: 250px;
	}
	#color_me_in p{
		font-family: arial;
		margin: auto;
		letter-spacing: 2px;
	}
</style>

<div id="color_me_in">
	<p>
		<%= @color.upcase %> BOX ACTIVATED!
	</p>
</div>

<%= form_tag index_path do %>
	<p><%= text_field_tag :name, nil, placeholder: "What's your name?" %></p>
	<p><%= submit_tag :submit %></p>
	<% end %>